---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Welcome to Tiptopdesign</h1>
      <p>
        Hello and welcome! I’m Mike, a full-stack developer with a passion for
        both creating and teaching. By day, I navigate the intricate world of
        software development, and by twilight, I share the knowledge I've
        gathered in lecture halls, bringing the complex world of coding and
        technology closer to eager minds at the university.
      </p>
      <h3>What's This Blog About?</h3>
      <p>
        This space is dedicated to sharing my journey, discoveries, and the
        knowledge I've accumulated over years of working with code and teaching.
        Whether you're a fellow developer, a student, or simply someone
        fascinated by the world of technology, you'll find something here to
        spark your interest.
      </p>
      <h5>For Developers</h5>
      <ul>
        <li>
          <strong>Latest Trends:</strong> Stay up-to-date with the latest technologies
          and frameworks in the world of full-stack development. From front-end to
          back-end, I delve into what's new, what's essential, and what can optimize
          your workflow.
        </li>
        <li>
          <strong>Tutorials & Guides:</strong> Step-by-step tutorials ranging from
          beginner-friendly to advanced complexities. Expect clear, concise, and
          practical guides to enhance your coding skills.
        </li>
        <li>
          <strong>Project Insights:</strong> Dive into the behind-the-scenes of projects
          I'm working on, including challenges faced and solutions found. A real-world
          glimpse into the life of a full-stack developer. >
        </li>
      </ul>
      <h5>For Students</h5>
      <ul>
        <li>
          <strong>Learning Resources:</strong> A curated list of resources, from
          online courses to must-read documentation, to support your learning journey
          in the field of computer science.
        </li>
        <li>
          <strong>Career Advice:</strong> Leveraging my experience as a university
          teacher and developer, I offer insights into navigating the job market,
          preparing for interviews, and building a portfolio that stands out.
        </li>
        <li>
          <strong>Interactive Q&A:</strong> Have questions? I’m here to help. This
          section will feature common questions from students, answered in-depth
          to aid your understanding and growth.
        </li>
      </ul>
      <h5>For the Curious</h5>
      <ul>
        <li>
          <strong>Technology in Everyday Life:</strong> Exploring how technology
          shapes our daily lives, from the software that powers your favorite apps
          to the emerging tech trends that promise to change the world.
        </li>
        <li>
          <strong>Opinion Pieces:</strong> My take on the latest news in the tech
          world, discussions on ethical programming, and the future of development.
        </li>
      </ul>
      <h3>Join the Community</h3>
      <p>
        This blog isn’t just about sharing my knowledge—it’s about building a
        community. Whether you want to discuss a topic, suggest content, or
        simply say hello, your input is valuable. Let’s connect through
        comments, social media, or direct emails. Your journey in the tech world
        is unique, and I’m excited to be a part of it.
      </p>
      <p>
        Let’s embark on this journey of learning, sharing, and growing together.
        Welcome to Tiptopdesign.
      </p>
    </main>
    <Footer />
  </body>
</html>
